@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,700;0,800;1,600&display=swap');

:root {
  --main-font: 'Raleway', sans-serif;
  --box-color: #ebc7c0;
  --facebook: #4aa4e9;
  --twitter: #99babe;
  --instagram: #f388c8;
  --youtube: #f39a88;
}

@mixin before($social) {
  content: '';
  display: block;
  width: 100%;
  height: 1rem;
  position: absolute;
  left: 0;
  top: 0;

  @if $social == --twitter {
    background-color: var($social);
  }

  @if $social == --facebook {
    background-color: var($social);
  }

  @if $social == --instagram {
    background-color: var($social);
  }

  @if $social == --youtube {
    background-color: var($social);
  }
}

#twitter::before {
  @include before(--twitter);
}
#facebook::before {
  @include before(--facebook);
}
#youtube::before {
  @include before(--youtube);
}
#instagram::before {
  @include before(--instagram);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @media only screen and (min-width: 37.5em) {
    font-size: 71.5%;
  }
  @media only screen and (min-width: 37.5em) {
    font-size: 81.5%;
  }
}

body {
  height: 100vh;
  color: #707070;
  font-family: 'Raleway', sans-serif;
  background-image: url('/images/image-mobile.jpg');

  @media only screen and (min-width: 37.5em) {
    background-image: url('/images/image-mobile-tablet778px.jpg');
  }
  @media only screen and (min-width: 62.5em) {
    background-image: url('/images/empty-living-room-with-blue-sofa-plants-table-empty-white-wall-background-3d-rendering.jpg');
    background-position: left;
    background-repeat: no-repeat;
    justify-content: left;
    margin-left: 10rem;
  }
  background-size: cover;
  display: grid;
  place-content: center;
  padding: 3rem;
}

.h1 {
  font-weight: 800;
  font-size: 4rem;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.p {
  font-size: 1.9rem;
  padding: 0 4rem 0 0;
}
.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 11rem;
  gap: 4rem;
  @media only screen and (min-width: 37.5em) {
    margin-top: 4rem;
  }
  @media only screen and (min-width: 62.5em) {
    margin-top: 4rem;
  }
}

.counter-container {
  background-color: var(--box-color);
  margin-bottom: 4rem;
  padding: 4rem 2rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;

  &:hover {
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.07);
    transition: all 0.3s;
  }

  &:hover > .followers {
    letter-spacing: 0.6rem;
    transition: all 0.3s;
    transform: rotate(-90deg) translate(6.3rem, 4.8rem);
  }
}
.counter {
  font-size: 5rem;
  font-weight: 600;
  color: #ffffff;
  -webkit-text-stroke-width: thin;
  -webkit-text-stroke-color: #8f8f8f;
  margin-top: 2rem;

  @media only screen and (min-width: 62.5em) {
    font-size: 7rem;
  }
}

.followers {
  font-weight: 600;
  font-size: 1rem;
  color: #707070;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: rotate(-90deg) translate(5.3rem, 3.89rem);
}
